html{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  align-items: center;

  background: linear-gradient(27deg,
  #7c93ee, #5488cb
  );
  background-attachment: fixed;
}


.top , .bottom, table{
  width: 100%;
  max-width: 600px;
  
  
}


p{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

th {
  color: whitesmoke;
}

*{
  font-size: 29px;
  margin: 0px;
  padding: 0px;
}
